# Ignore built files
bin/
build/

# Ignore original assets.
assets/original/*.png

# Ignore vscode specific files
.vscode/
.cache/

# Ignore cmake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
